<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="footer">
        <div class="Content">
            <div id="contacts">

                <div id="Left">
                    <p class="h1">Contacts</p>
                    
                    <p class="h2">Telephone number:</p>
                    <p class="h3">+421 145 256 789</p>
                    
                    <p class="h2">E-mail:</p>
                    <p class="h3">info@pawas.cz</p>
                </div>

                <div id="Right">
                    <p class="h2">Address:</p>
                    <p class="h3">Lake st., Brno, 142 00</p>

                    <p class="h2">Headquarters:</p>
                    <p class="h3">Milan st. 456, Prague 15, 154 00</p>
                </div>
            </div>

            <div id="socials">
                <p class="h1">Socials</p>
                <div>
                    <img class="img" src="../images/fb.png" alt="fb">
                    <img class="img" src="../images/ig.png" alt="ig">
                    <img class="img" src="../images/yt.png" alt="yt">
                </div>
            </div>

        </div>
    </div>
</body>
</html>