<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div id="navbar">
        <div id="left_side">
            <div id="logo">
                <a href="/"><i class="material-icons">pets</i></a>
                <a href="/">Paw Animal Shelter</a>
            </div>
        </div>  
        <div id="right_side">

            <div id="user_dropdown">

                <div id="user_dropdown_icon">
                    <i class="material-icons">expand_more</i>
                    <i class="material-icons">account_circle</i>
                </div>

                <div id="user_dropdown_content">
                    <a href="/signUp">Sign Up</a>
                    <a href="/logIn">Log In</a>
                </div>
                
            </div>


        </div> 
    </div>

</body>
</html>