<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div id="navbar">
        <div id="left_side">
            <div id="logo">
                <a href="/volunteerHomepage"><i class="material-icons">pets</i></a>
                <a href="/volunteerHomepage">Paw Animal Shelter</a>
            </div>
        </div>  
        <div id="right_side">

            <div id="search">
                <a href="/volunteerAnimals/?date=today&spieces=all" id="addtext">Search</a>    
                <a href="/volunteerAnimals/?date=today&spieces=all" id="addicon"><i class="material-icons">search</i></a>
            </div>


            <div id="user_dropdown">

                <div id="user_dropdown_icon">
                    <a><%-user_name%></a> 
                    <i class="material-icons">expand_more</i>
                    <i class="material-icons">account_circle</i>
                </div>

                <div id="user_dropdown_content">
                    <a href="/volunteerMyProfile/<%-user_id%>">My profile</a>
                    <a href="/volunteerMyReservations/<%-user_id%>">My reservations</a>
                    <a href="/logout">Log out</a>
                </div>
                
            </div>


        </div> 
    </div>

</body>
</html>