<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="datavolunteer">
        <% if(data.length) for(var i = 0; i < data.length; i++) {{%>
        <div id="pendinguser" onClick="is_Clicked1('<%-data[i].id%>')">
            <a ><%-data[i].first_name%> <%-data[i].last_name%></a>
            <a id="upcoming_id_icon"><i class="material-icons">chevron_right</i></a>
        </div>
        <% }} %>
    </div>

    <script>
        function is_Clicked1(id){
            url = "/caregiverPendingUserProfile/"+id
            window.location.href = url
          }
    </script>    

</body>
</html>