<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <header class="header">
        <div class="content">
            <div class="message">
                <h1><small>Meet new animal friends!</small></h1>
                <h1> <small>Volunteer at</small> Paw Animal Shelter. </h1>
            </div>           
            
            <div class="searchbar">
                <%- include('partials/volunteerSearchbarHomepage') %>
            </div>

            <div class="moreinfo">
                <a id="more" href="#about">
                    <h2>MORE INFO<i class="material-icons">arrow_downward</i></h2>
                </a>
            </div>

        </div>
    </header>

    <main class="main1">
        <div class="content">

            <div id="about">
                <img src="../images/as1.png" alt="About">    
                <h3> About Us </h3>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, doloribus illum porro quaerat suscipit, beatae doloremque commodi quibusdam a, illo ipsum numquam aut reiciendis non hic voluptate provident error totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste eaque quo! Eaque, corrupti, saepe itaque nemo culpa quas. </p>
            </div>

        </div>
    </main>

    <main class="main2">
        <div class="content">

            <div id="about">
                <img src="../images/as2.webp" alt="About">    
                <h3> Become A Volunteer </h3>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, doloribus illum porro quaerat suscipit, beatae doloremque commodi quibusdam a, illo ipsum numquam aut reiciendis non hic voluptate provident error totam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem iste eaque quo! Eaque, corrupti, saepe itaque nemo culpa quas. </p>
            </div>

        </div>
    </main>

</body>
</html>