<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="found" id="found_id">   
        <h2>Found</h2>
        <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
          <div id="found_div" class="found_animals" onClick="window.location.href = '/volunteerProfileAnimal/<%= data[i].animal_id%>'">
            <a id="index"><%=data[i].animal_id%></a>
            <a id="photo"><img id="photo" src="<%= data[i].img%>"></a>
            <a id="name"><%=data[i].name%></a>
            <a ><i class="material-icons">more_horiz</i></a>
          </div>

        <% } }else{ %>

          No data ever existed.
  
        <% } %>
      </div>
</body>
</html>