@import "../../main.css";

.content {
    width: 1300px;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
}

#back {
    position: absolute;
    width: 96px;
    height: 96px;
    left: 10%;
    top: 17.96%;
    color: var(--colour-secondary);
    cursor: pointer;
}

#back a {
    color: var(--colour-secondary);
}

#back i {
    font-size: 60px
}

#h1AddAnimal {
    position: absolute;
    left: 23.28%;
    right: 20.47%;
    top: 17.96%;
    bottom: 75.09%;

    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;

    color: var(--colour-secondary);
}

hr {
    position: absolute;
    top: 25%;
    bottom: 75%;
    left: 18%;
    right: 18%;

    border: 1px solid var(--colour-secondary);
}

h2 {
    font-size: 24px;

    color: var(--colour-secondary);
}

.Inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding-top: 200px;
}

#choose button {
    width: 80px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--colour-ternary);

    border: 1px solid var(--colour-ternary);
    border-radius: 30px;
    font-weight: bold;
    font-size: large;
    color: var(--colour-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#divDate {
    display: flex;
    flex-direction: column;
}

#type, #description {
    color: var(--colour-secondary);
    background-color: var(--colour-white);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    width: 400px;
    border: 2px solid var(--colour-ternary);
    border-radius: 5px;
    padding: 10px;
}

#type {
    margin-top: 20px;

}

#description {
    margin-top: 10px;
    height: 300px;
    max-width: 400px;
    max-height: 500px;
}

#box h2 {
    margin-bottom: 20px;
}

#box{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


#res_div1 {
    cursor: pointer;
    display: grid;
    grid: 40px / 120px 200px auto;
    width: 470px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colour-white);
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 2px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
}

#res_div2 {
    cursor: pointer;
    display: grid;
    grid: 40px / 150px 200px auto;
    width: 470px;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--colour-white);
    margin-bottom: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 2px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
}



